
.photo_ava {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #000;
}

.container {
    padding: 10px;
}

.btn {
    padding: 5px;
    width: 100px;
    font-size: 18px;
    background-color: #fa8b02;
    border: 1px solid #000;
    border-radius: 2px;

}
.countNumbers{
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 20px;
    overflow: hidden;
    overflow-x: auto;
}

.countNumbers span{
    cursor: pointer;
    padding: 3px;
}

.selectedPage {
    font-weight: bold;
    font-size: 20px;
    
}